@Styles.Render("~/Content/Site.css")

<div id="cardBody" style="background-color: #4a4a4a" class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <h5 style="text-align:center"class="m-0">Insurance Quote Calculator</h5>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
        {
            <div class="row no-gutters">

                <div class="form-group col-md-12">
                    @*User info*@
                    <input name="FirstName" type="text" class="form-control" value="test" placeholder="FirstName" />
                    <input name="LastName" type="text" class="form-control" value="test" placeholder="LastName" />
                    <input name="EmailAddress" type="email" class="form-control" value="test@test.com" placeholder="Email Address" />
                    <input name="DateOfBirth" type="date" class="form-control" placeholder="Date of Birth" />
                </div>
                <br />
                <div class="form-group col-md-12">
                    @*Car Info*@
                    <input name="CarMake" type="text" class="form-control" value="test" placeholder="Make" />
                    <input name="CarModel" type="text" class="form-control" value="test" placeholder="Model" />
                    <input name="CarYear" type="number" class="form-control" value="test" placeholder="Year" />
                </div>
                <br />
                <div class="form-group col-md-12">
                    @*Trafic Info*@
                    <h5 style="color:aliceblue">Check the box if you have a DUI.</h5>
                    <input style="text-align: right" name="DUI" type="checkbox" value="true" class="form-control" />
                    <input name="Tickets" type="number" class="form-control" placeholder="Number of Tickets" />
                </div>
                <div class="form-group col-md-12">
                    @*Coverage Check*@
                    <h5 style="color:aliceblue">Check the box if you want full coverage.</h5>
                    <input name="FullCoverage" type="checkbox" value="true" class="form-control" />
                </div>

                <button type="submit" class="btn btn-block btn-primary">Submit</button>


            </div>
        }
        <div>
            @using (Html.BeginForm("Admin", "Home", FormMethod.Post))
            {
                <button type="submit" class="btn btn-block btn-danger">Admin</button>
            }

        </div>
    </div>
    


</div>

